@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0e1538;
    overflow: hidden; 
    /*flex-direction: column;*/  
}
a{
    position: relative;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    text-decoration: none;
    margin: 80px 40px;
    transition: 1s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,transparent,#0004);
}
a:hover{
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
                0 0 30px var(--clr),
                0 0 60px var(--clr),
                0 0 100px var(--clr);    

}
a::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate 2s linear infinite;
    animation-delay: calc(-0.33s * var(--1));
}
a:hover::before{
    120%;
}
a::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    transition: 0.5s;
}
a:hover::after{
    background: var(--clr);
}
@keyframes animate{
    0%{
       transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
     }
    }
span{
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: rgb(11, 46, 240);
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 4px;
}
a:hover span{
    opacity: 1;
}
